@model Domain.Entities.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
</div>
</body>
</html>