#garden{
    background-color: whitesmoke;
    color: #004d40;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    border-radius: 10px;
}

#garden td{
    text-align: center;
    vertical-align: middle; 
    width: 80px;
    height: 80px;
}

#garden td img{
    margin: 0 auto;
    width: 30px;
    height: 30px;
}

#garden .dead-tree{
    background-color: wheat;
    background-image: url('../img/dead-tree.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
}

#garden .tree{
    background-color: lightgreen;
    background-image: url('../img/tree.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
}

.stages{
    margin-top: 20px;
    text-align: center;
}

.stages button{
    margin-top: 40px;
}

hr{
    margin-top: 40px;;
    height: 1px;
    background-color: gray;
    opacity: 0.2;
}

.progress{
    margin-top: 10px;;
}

.badge{
    font-size: large;
}