@page
@using Project.Domain.Entities.Gardens
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var index = 0;
    string GetClass()
    {
        var tree = Model.Garden.Trees.FirstOrDefault(a=>a.Index == index);
        if (tree is null)
        {
            return "";
        }
        return tree.TreeState switch
        {
            TreeState.Dry => "dead-tree",
            TreeState.Green => "tree",
            TreeState.Growing => "seed",
            _ => ""
        };
    }
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5">Tree Pomodoro!</h1>
            <p class="lead">Start creating your garden!.</p>
        </div>
        <div class="col-sm-6">
            Your Tree Growth Progress : <span class="badge badge-success">25:00</span>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="stages row">
                <div class="col-sm-2">
                    <img src="img/seed-tree.png" alt="">
                </div>
                <div class="col-sm-2">
                    <img src="img/right-arrow.png" alt="">
                </div>
                <div class="col-sm-4">
                    <img src="img/small-tree.png" alt="">
                    <br>
                    <form method="post">
                        <button type="submit" class="btn btn-lg btn-success">Plant a tree!</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <img src="img/right-arrow.png" alt="">
                </div>
                <div class="col-sm-2">
                    <img src="img/adult-tree.png" alt="">
                </div>
            </div>
            <hr>
            You have No tree right now!
        </div>
        <div class="col-sm-6">
            <table id="garden" class="table table-bordered">
                <tbody>
                @for (var i = 0; i < 5; i++)
                {
                    <tr>
                        @for (var j = 1; j < 5; j++)
                        {
                            <td class="@GetClass()">
                            </td>
                            index++;
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
